<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.a6l.evprobe">
    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <application android:label="A6L EV test" android:theme="@android:style/Theme.Material.Light.NoActionBar"
                 android:allowBackup="false" android:debuggable="true" android:supportsRtl="true">
        <activity android:name=".EvProbeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
